# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates
.vs/

# Build results
[Aa]rtifacts/
[Dd]ebug/
[Rr]elease/
[Bb]inaries/
x64/
[Bb]in/
[Oo]bj/
.dotnet/
.tools/
.packages/
BenchmarkDotNet.Artifacts/